/* Base */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #1f2937;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header + Hero + Footer background */
.site-header,
.hero,
.site-footer {
  background-color: #1f2937;
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.logo {
  color: #f9faf8;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  text-decoration: underline;
  color: #cbcdd0;
}

/* Make the nav items sit left/right */
.nav {
}

/* HERO */
.hero {
  padding: 20px;
}

.container_hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.hero-text {
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 900;
  color: #fff;
  margin-top: 0;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 20px;
}

.hero button {
  background-color: #3882f6;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 0;
  font-weight: 500;
  cursor: pointer;
}

.hero-image {
  background-color: #e5e7eb;
  width: 300px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  flex-shrink: 0;
}

/* INFO SECTION */
.info {
}

.container_info {
}

.info h2 {
}

.cards {
}

.card {
}

.illustration {
}

.card p {
}

/* QUOTE SECTION */
.quote {
}

.container_quote {
}

.quote figure {
}

.quote blockquote {
}

.quote blockquote p {
}

.quote figcaption {
}

/* CTA SECTION */
.cta {
}

.container_cta {
}

.cta-box {
}

.cta-text h2 {
}

.cta-text p {
}

.cta-button {
}

/* FOOTER */
.site-footer {
}
