/* INFO SECTION */
.info {
  padding: 60px 0 80px;
}

.info-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.container_info {
}

.info h2 {
}

.cards {
}

.card {
}

.illustration {
}

.card p {
}
